<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DonateDrop"
        tools:targetApi="31">
        <activity
            android:name=".AdminCompletedRequest"
            android:exported="false" />
        <activity
            android:name=".AdminRequests"
            android:exported="false" />
        <activity
            android:name=".AdminChangePassword"
            android:exported="false" />
        <activity
            android:name=".AdminEditProfile"
            android:exported="false" />
        <activity
            android:name=".AdminSettings"
            android:exported="false" />
        <activity
            android:name=".Admin"
            android:exported="false"
            android:label="@string/title_activity_admin" />
        <activity
            android:name=".admin.Admin"
            android:exported="false"
            android:label="@string/title_activity_admin"
            tools:ignore="MissingClass" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".CreatedRequests"
            android:exported="false" />
        <activity
            android:name=".NearbySearch"
            android:exported="false" />
        <activity
            android:name=".ChangePhoneNumber"
            android:exported="false" />
        <activity
            android:name=".ContactDetails"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".DeleteAccount"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".Privacy"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen"
            android:exported="false" />
        <activity
            android:name=".SignupScreen"
            android:exported="false"
            android:theme="@style/Theme.DonateDrop"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".CreateRequestForm"
            android:exported="false" />
        <activity
            android:name=".NotificationScreen"
            android:exported="false" />
        <activity
            android:name=".OtpVerification"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
        <activity
            android:name=".OnBoarding"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.DonateDrop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>